{% extends 'base.html' %}
{% load static %}
{% block title %}Songs{%endblock%}
{% block content %}
        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>{{artistic_name}}'s Songs</h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Realesed</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                        {% for song in songs %}
                                    <tr>
<!--                                        <td class="cart_product_img">-->
<!--                                            <a href="#"><img src="{{song.art_work.url}}" alt="Product"></a>-->
<!--                                        </td>-->
                                        <td class="cart_product_desc">
                                            <h5>{{song.song_title}}</h5>
                                        </td>
                                        <td class="price">
                                            <span>{{song.release_date}}</span>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <p>{{song.song_genre}}</p>
                                            </div>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <a href="{{song.song_file.url}}"><p>Download/Play</p></a>
                                            </div>
                                        </td>
                                    </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
<!--                    <div class="col-12 col-lg-4">-->
<!--                        <div class="cart-summary">-->
<!--                            <h5>Cart Total</h5>-->
<!--                            <ul class="summary-table">-->
<!--                                <li><span>subtotal:</span> <span>$140.00</span></li>-->
<!--                                <li><span>delivery:</span> <span>Free</span></li>-->
<!--                                <li><span>total:</span> <span>$140.00</span></li>-->
<!--                            </ul>-->
<!--                            <div class="cart-btn mt-100">-->
<!--                                <a href="cart.html" class="btn amado-btn w-100">Checkout</a>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}